body {
 size: 100vh;
 margin: 0;
}

.first {
    background: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 10px;
    Margin-left: 300px;
}

a, .small-text {
    font-size: 18px;
    color: #E5E7EB;
}

li {
    list-style-type: none;
    display: inline-flex;
    align-content: space-evenly;
    padding: 10px;
}

a {
    text-decoration: none;
    margin-right: 50px;
}

.big-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9Faf8;
}

.hero {
    display: flex;
    justify-content: center;
}

